In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv('train_cat.csv')
data.head()

,Unnamed: 0,UserID,MovieID,Rating,Group,MovieType,m0,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11
0,0,1.0,1193.0,5.0,4.375000,5,3.714286,0.0,4.0,4.6,5.0,4.375,4.0,4.2,4.333333,0.0,0.0,0.0
1,1,1.0,661.0,3.0,4.000000,6,3.714286,0.0,4.0,4.6,5.0,4.375,4.0,4.2,4.333333,0.0,0.0,0.0
2,2,1.0,914.0,3.0,3.714286,0,3.714286,0.0,4.0,4.6,5.0,4.375,4.0,4.2,4.333333,0.0,0.0,0.0
3,3,1.0,3408.0,4.0,4.200000,7,3.714286,0.0,4.0,4.6,5.0,4.375,4.0,4.2,4.333333,0.0,0.0,0.0
4,4,1.0,2355.0,5.0,4.200000,7,3.714286,0.0,4.0,4.6,5.0,4.375,4.0,4.2,4.333333,0.0,0.0,0.0

In [2]:
data2 = data.copy()[['UserID', 'MovieID', 'Rating', 'Group', 'MovieType']]
data2.head()

   UserID  MovieID  Rating     Group  MovieType
0     1.0   1193.0     5.0  4.375000          5
1     1.0    661.0     3.0  4.000000          6
2     1.0    914.0     3.0  3.714286          0
3     1.0   3408.0     4.0  4.200000          7
4     1.0   2355.0     5.0  4.200000          7

In [3]:
users = pd.read_csv('users_catergory.csv')[['UserID', 'Type2', 'Average']]
users.head()

   UserID  Type2   Average
0       1     10  4.188679
1       2      4  3.703125
2       3     10  3.900000
3       4     15  4.100000
4       5      4  3.187817

In [5]:
data3 = pd.merge(data2, users, on='UserID', how='outer')
data3['UserType'] = data3['Type2']
del data3['Type2']
data3['UserAvg'] = data3['Average']
del data3['Average']

data3.head()

   UserID  MovieID  Rating     Group  MovieType  UserType   UserAvg
0     1.0   1193.0     5.0  4.375000          5      10.0  4.188679
1     1.0    661.0     3.0  4.000000          6      10.0  4.188679
2     1.0    914.0     3.0  3.714286          0      10.0  4.188679
3     1.0   3408.0     4.0  4.200000          7      10.0  4.188679
4     1.0   2355.0     5.0  4.200000          7      10.0  4.188679

In [6]:
#train with just this
#add movieavg
#add genres/occupation
#add both
trainOld = pd.read_csv('trainGenre2.csv')
trainOld.head()

,Unnamed: 0,Unnamed: 0.1,UserID,MovieID,Rating,MovieVec,Intercept,MovieAvg,UserAvg,Action,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,Gender,Age,Occupation
0,0,0,1.0,1193.0,5.0,4.428571,1.0,4.390725,4.188679,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
1,1,1725,1.0,661.0,3.0,4.215608,1.0,3.464762,4.188679,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
2,2,2250,1.0,914.0,3.0,3.976190,1.0,4.154088,4.188679,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
3,3,2886,1.0,3408.0,4.0,4.428571,1.0,3.863878,4.188679,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
4,4,4201,1.0,2355.0,5.0,4.167989,1.0,3.854375,4.188679,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0

In [7]:
userTypes = users.copy()
userTypes['UserTypes'] = userTypes['Type2']
del userTypes['Average']
del userTypes['Type2']
userTypes.head()

   UserID  UserTypes
0       1         10
1       2          4
2       3         10
3       4         15
4       5          4

In [8]:
train0 = pd.merge(trainOld, userTypes, on='UserID', how='outer')
del train0['Unnamed: 0']
del train0['Unnamed: 0.1']
print train0.shape
train0.head()

(1000209, 29)

,UserID,MovieID,Rating,MovieVec,Intercept,MovieAvg,UserAvg,Action,Adventure,Animation,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,Gender,Age,Occupation,UserTypes
0,1.0,1193.0,5.0,4.428571,1.0,4.390725,4.188679,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10
1,1.0,661.0,3.0,4.215608,1.0,3.464762,4.188679,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10
2,1.0,914.0,3.0,3.976190,1.0,4.154088,4.188679,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10
3,1.0,3408.0,4.0,4.428571,1.0,3.863878,4.188679,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10
4,1.0,2355.0,5.0,4.167989,1.0,3.854375,4.188679,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10

In [9]:
data4 = data3.copy()[['UserID', 'MovieID', 'Group']]
print data4.shape
data4.head()

(1000386, 3)

   UserID  MovieID     Group
0     1.0   1193.0  4.375000
1     1.0    661.0  4.000000
2     1.0    914.0  3.714286
3     1.0   3408.0  4.200000
4     1.0   2355.0  4.200000

In [10]:
train1 = pd.merge(train0, data4, on = ['UserID', 'MovieID'], how='left')
print train1.shape
train1.head()

(1000209, 30)

,UserID,MovieID,Rating,MovieVec,Intercept,MovieAvg,UserAvg,Action,Adventure,Animation,...,Romance,Sci-Fi,Thriller,War,Western,Gender,Age,Occupation,UserTypes,Group
0,1.0,1193.0,5.0,4.428571,1.0,4.390725,4.188679,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10,4.375000
1,1.0,661.0,3.0,4.215608,1.0,3.464762,4.188679,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10,4.000000
2,1.0,914.0,3.0,3.976190,1.0,4.154088,4.188679,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10,3.714286
3,1.0,3408.0,4.0,4.428571,1.0,3.863878,4.188679,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10,4.200000
4,1.0,2355.0,5.0,4.167989,1.0,3.854375,4.188679,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10,4.200000

In [11]:
movies = pd.read_csv('movies_catergory.csv')[['MovieID', 'Type2']]
movies['MovieType'] = movies['Type2']
del movies['Type2']
movies.head()

   MovieID  MovieType
0        1          3
1        2          6
2        3          6
3        4          9
4        5          6

In [12]:
train2 = pd.merge(train1, movies, on='MovieID', how='outer')
train2.head()

,UserID,MovieID,Rating,MovieVec,Intercept,MovieAvg,UserAvg,Action,Adventure,Animation,...,Sci-Fi,Thriller,War,Western,Gender,Age,Occupation,UserTypes,Group,MovieType
0,1.0,1193.0,5.0,4.428571,1.0,4.390725,4.188679,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10.0,4.375000,5
1,2.0,1193.0,5.0,3.898734,1.0,4.390725,3.703125,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,6.0,16.0,4.0,4.300000,5
2,12.0,1193.0,4.0,4.333333,1.0,4.390725,3.772727,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2.0,12.0,3.0,4.100000,5
3,15.0,1193.0,4.0,3.481013,1.0,4.390725,3.310000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2.0,7.0,4.0,4.000000,5
4,17.0,1193.0,5.0,4.144928,1.0,4.390725,4.038095,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,5.0,1.0,9.0,4.714286,5

In [13]:
print train2.columns.values

['UserID' 'MovieID' 'Rating' 'MovieVec' 'Intercept' 'MovieAvg' 'UserAvg'
 'Action' 'Adventure' 'Animation' "Children's" 'Comedy' 'Crime'
 'Documentary' 'Drama' 'Fantasy' 'Film-Noir' 'Horror' 'Musical' 'Mystery'
 'Romance' 'Sci-Fi' 'Thriller' 'War' 'Western' 'Gender' 'Age' 'Occupation'
 'UserTypes' 'Group' 'MovieType']

In [14]:
# figure out where the NaN values are and drop their rows
import math
print train2.shape

drop_indices = []
for ind, row in train2.iterrows():
    if math.isnan(row['Rating']):
        drop_indices.append(ind)
print drop_indices

train2 = train2.drop(train2.index[drop_indices])
print train2.isnull().values.any()

(1000386, 31)
[1000209, 1000210, 1000211, 1000212, 1000213, 1000214, 1000215, 1000216, 1000217, 1000218, 1000219, 1000220, 1000221, 1000222, 1000223, 1000224, 1000225, 1000226, 1000227, 1000228, 1000229, 1000230, 1000231, 1000232, 1000233, 1000234, 1000235, 1000236, 1000237, 1000238, 1000239, 1000240, 1000241, 1000242, 1000243, 1000244, 1000245, 1000246, 1000247, 1000248, 1000249, 1000250, 1000251, 1000252, 1000253, 1000254, 1000255, 1000256, 1000257, 1000258, 1000259, 1000260, 1000261, 1000262, 1000263, 1000264, 1000265, 1000266, 1000267, 1000268, 1000269, 1000270, 1000271, 1000272, 1000273, 1000274, 1000275, 1000276, 1000277, 1000278, 1000279, 1000280, 1000281, 1000282, 1000283, 1000284, 1000285, 1000286, 1000287, 1000288, 1000289, 1000290, 1000291, 1000292, 1000293, 1000294, 1000295, 1000296, 1000297, 1000298, 1000299, 1000300, 1000301, 1000302, 1000303, 1000304, 1000305, 1000306, 1000307, 1000308, 1000309, 1000310, 1000311, 1000312, 1000313, 1000314, 1000315, 1000316, 1000317, 1000318, 1000319, 1000320, 1000321, 1000322, 1000323, 1000324, 1000325, 1000326, 1000327, 1000328, 1000329, 1000330, 1000331, 1000332, 1000333, 1000334, 1000335, 1000336, 1000337, 1000338, 1000339, 1000340, 1000341, 1000342, 1000343, 1000344, 1000345, 1000346, 1000347, 1000348, 1000349, 1000350, 1000351, 1000352, 1000353, 1000354, 1000355, 1000356, 1000357, 1000358, 1000359, 1000360, 1000361, 1000362, 1000363, 1000364, 1000365, 1000366, 1000367, 1000368, 1000369, 1000370, 1000371, 1000372, 1000373, 1000374, 1000375, 1000376, 1000377, 1000378, 1000379, 1000380, 1000381, 1000382, 1000383, 1000384, 1000385]
False

In [15]:
trainCluster = train2.copy()[['UserID', 'MovieID', 'Rating', 
                            'Intercept', 'MovieAvg', 'UserAvg', 'UserTypes', 'Group', 'MovieType']]

del trainCluster['UserID']
del trainCluster['MovieID']
trainCluster.head()

   Rating  Intercept  MovieAvg   UserAvg  UserTypes     Group  MovieType
0     5.0        1.0  4.390725  4.188679       10.0  4.375000          5
1     5.0        1.0  4.390725  3.703125        4.0  4.300000          5
2     4.0        1.0  4.390725  3.772727        3.0  4.100000          5
3     4.0        1.0  4.390725  3.310000        4.0  4.000000          5
4     5.0        1.0  4.390725  4.038095        9.0  4.714286          5

In [17]:
trainCluster2 = trainCluster.copy()
trainCluster2 = pd.concat([trainCluster2, pd.get_dummies(trainCluster2['MovieType'], prefix='M')], axis=1)
trainCluster2 = pd.concat([trainCluster2, pd.get_dummies(trainCluster2['UserTypes'], prefix='U')], axis=1)
del trainCluster2['MovieType']
del trainCluster2['UserTypes']
trainCluster2.head()

,Rating,Intercept,MovieAvg,UserAvg,Group,M_0,M_1,M_2,M_3,M_4,...,U_6.0,U_7.0,U_8.0,U_9.0,U_10.0,U_11.0,U_12.0,U_13.0,U_14.0,U_15.0
0,5.0,1.0,4.390725,4.188679,4.375000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,5.0,1.0,4.390725,3.703125,4.300000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,1.0,4.390725,3.772727,4.100000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,1.0,4.390725,3.310000,4.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5.0,1.0,4.390725,4.038095,4.714286,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.linear_model import LinearRegression

cols = trainCluster2.columns
feature_cols = cols.drop('Rating')
print feature_cols

X = trainCluster2[feature_cols]
Y = trainCluster2['Rating']


clusterReg2 = LinearRegression()
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=1)
clusterReg2.fit(X_train, Y_train)
Y_pred = clusterReg2.predict(X_test)

print np.sqrt(metrics.mean_squared_error(Y_test, Y_pred))
print metrics.mean_squared_error(Y_test, Y_pred)

C:\Users\Mobremius\Anaconda2\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

Index([u'Intercept', u'MovieAvg', u'UserAvg', u'Group', u'M_0', u'M_1', u'M_2',
       u'M_3', u'M_4', u'M_5', u'M_6', u'M_7', u'M_8', u'M_9', u'M_10',
       u'M_11', u'U_0.0', u'U_1.0', u'U_2.0', u'U_3.0', u'U_4.0', u'U_5.0',
       u'U_6.0', u'U_7.0', u'U_8.0', u'U_9.0', u'U_10.0', u'U_11.0', u'U_12.0',
       u'U_13.0', u'U_14.0', u'U_15.0'],
      dtype='object')
0.854196536967
0.729651723767

In [19]:
zip(feature_cols, clusterReg2.coef_)

[('Intercept', 3322574.8174242838),
 ('MovieAvg', 0.86938781176597391),
 ('UserAvg', -0.0026551186448444675),
 ('Group', 0.94235551555950781),
 ('M_0', -80245318942.081253),
 ('M_1', -80245318941.025116),
 ('M_2', -80245318942.22226),
 ('M_3', -80245318942.358429),
 ('M_4', -80245318941.821152),
 ('M_5', -80245318942.277939),
 ('M_6', -80245318941.529358),
 ('M_7', -80245318941.98027),
 ('M_8', -80245318941.843811),
 ('M_9', -80245318941.135681),
 ('M_10', -80245318941.56868),
 ('M_11', -80245318941.561279),
 ('U_0.0', -64072362188.719612),
 ('U_1.0', -64072362188.757027),
 ('U_2.0', -64072362188.836746),
 ('U_3.0', -64072362188.768738),
 ('U_4.0', -64072362188.742966),
 ('U_5.0', -64072362188.759201),
 ('U_6.0', -64072362188.771019),
 ('U_7.0', -64072362188.703781),
 ('U_8.0', -64072362188.804207),
 ('U_9.0', -64072362188.732346),
 ('U_10.0', -64072362188.760178),
 ('U_11.0', -64072362188.717628),
 ('U_12.0', -64072362188.807343),
 ('U_13.0', -64072362188.667252),
 ('U_14.0', -64072362188.885857),
 ('U_15.0', -64072362188.756462)]

In [38]:
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.linear_model import LinearRegression

cols = trainCluster.columns
feature_cols = cols.drop('Rating')
print feature_cols

X = trainCluster[feature_cols]
Y = trainCluster['Rating']


clusterReg = LinearRegression()
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=1)
clusterReg.fit(X_train, Y_train)
Y_pred = clusterReg.predict(X_test)

print np.sqrt(metrics.mean_squared_error(Y_test, Y_pred))
print metrics.mean_squared_error(Y_test, Y_pred)

Index([u'Intercept', u'MovieAvg', u'UserAvg', u'UserTypes', u'Group',
       u'MovieType'],
      dtype='object')
0.873682180863
0.763320553157

0.873668848932
0.763297257595

In [39]:
zip(feature_cols, clusterReg.coef_)

[('Intercept', 0.0),
 ('MovieAvg', 0.49704748536920129),
 ('UserAvg', -0.00015448043619772922),
 ('UserTypes', -0.00044238839786087461),
 ('Group', 0.80279484084605146),
 ('MovieType', 0.024325566969029822)]

In [41]:
#train with clusters and demographic info
tdCluster = train2.copy()[['UserID', 'MovieID', 'Rating', 
                            'Intercept', 'MovieAvg', 'UserAvg', 'UserTypes', 'Group', 'MovieType','Gender', 'Age', 'Occupation']]
del tdCluster['UserID']
del tdCluster['MovieID']
tdCluster.head()

,Rating,Intercept,MovieAvg,UserAvg,UserTypes,Group,MovieType,Gender,Age,Occupation
0,5.0,1.0,4.390725,4.188679,10.0,4.375000,5,0.0,0.0,10.0
1,5.0,1.0,4.390725,3.703125,4.0,4.300000,5,1.0,6.0,16.0
2,4.0,1.0,4.390725,3.772727,3.0,4.100000,5,1.0,2.0,12.0
3,4.0,1.0,4.390725,3.310000,4.0,4.000000,5,1.0,2.0,7.0
4,5.0,1.0,4.390725,4.038095,9.0,4.714286,5,1.0,5.0,1.0

In [42]:
cols = tdCluster.columns
feature_cols = cols.drop('Rating')
print feature_cols

X = tdCluster[feature_cols]
Y = tdCluster['Rating']


tdReg = LinearRegression()
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=1)
tdReg.fit(X_train, Y_train)
Y_pred = tdReg.predict(X_test)

print np.sqrt(metrics.mean_squared_error(Y_test, Y_pred))
print metrics.mean_squared_error(Y_test, Y_pred)

Index([u'Intercept', u'MovieAvg', u'UserAvg', u'UserTypes', u'Group',
       u'MovieType', u'Gender', u'Age', u'Occupation'],
      dtype='object')
0.873645092585
0.763255747798

In [43]:
zip(feature_cols, tdReg.coef_)

[('Intercept', 0.0),
 ('MovieAvg', 0.4983103293431001),
 ('UserAvg', 0.00092236962198052885),
 ('UserTypes', -0.00033839451362321568),
 ('Group', 0.80373682904662713),
 ('MovieType', 0.024178840586712658),
 ('Gender', 0.0075254699139580255),
 ('Age', -0.0079981782177406899),
 ('Occupation', 6.6594700412536678e-05)]

In [44]:
allCluster = train2.copy()
del allCluster['UserID']
del allCluster['MovieID']
allCluster.head()

,Rating,MovieVec,Intercept,MovieAvg,UserAvg,Action,Adventure,Animation,Children's,Comedy,...,Sci-Fi,Thriller,War,Western,Gender,Age,Occupation,UserTypes,Group,MovieType
0,5.0,4.428571,1.0,4.390725,4.188679,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10.0,4.375000,5
1,5.0,3.898734,1.0,4.390725,3.703125,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,6.0,16.0,4.0,4.300000,5
2,4.0,4.333333,1.0,4.390725,3.772727,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2.0,12.0,3.0,4.100000,5
3,4.0,3.481013,1.0,4.390725,3.310000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2.0,7.0,4.0,4.000000,5
4,5.0,4.144928,1.0,4.390725,4.038095,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,5.0,1.0,9.0,4.714286,5

In [45]:
cols = allCluster.columns
feature_cols = cols.drop('Rating')
print feature_cols

X = allCluster[feature_cols]
Y = allCluster['Rating']


allReg = LinearRegression()
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=1)
allReg.fit(X_train, Y_train)
Y_pred = allReg.predict(X_test)

print np.sqrt(metrics.mean_squared_error(Y_test, Y_pred))
print metrics.mean_squared_error(Y_test, Y_pred)

Index([u'MovieVec', u'Intercept', u'MovieAvg', u'UserAvg', u'Action',
       u'Adventure', u'Animation', u'Children's', u'Comedy', u'Crime',
       u'Documentary', u'Drama', u'Fantasy', u'Film-Noir', u'Horror',
       u'Musical', u'Mystery', u'Romance', u'Sci-Fi', u'Thriller', u'War',
       u'Western', u'Gender', u'Age', u'Occupation', u'UserTypes', u'Group',
       u'MovieType'],
      dtype='object')
0.853164953387
0.727890437688

In [46]:
zip(feature_cols, allReg.coef_)

[('MovieVec', 0.54808413337411499),
 ('Intercept', -1.1102230246251565e-15),
 ('MovieAvg', 0.59473543651644278),
 ('UserAvg', -0.010772663016266865),
 ('Action', 0.0073704785482477941),
 ('Adventure', -0.0079647720350920631),
 ('Animation', 0.016807797492062793),
 ("Children's", 0.054077650303207853),
 ('Comedy', -0.028008706506742656),
 ('Crime', -0.01762043828436349),
 ('Documentary', -0.15034952546326225),
 ('Drama', -0.076828520090172506),
 ('Fantasy', -0.00069061560608264967),
 ('Film-Noir', -0.11317866865779548),
 ('Horror', 0.093093644372024595),
 ('Musical', -0.037941799096605465),
 ('Mystery', -0.034178682418515918),
 ('Romance', -0.023842497268980033),
 ('Sci-Fi', -0.03026978273868219),
 ('Thriller', -0.023122040942072403),
 ('War', -0.065040413964462515),
 ('Western', -0.0032326989926121218),
 ('Gender', 0.01687753517877582),
 ('Age', -0.021719878352527849),
 ('Occupation', -0.00027152650685891011),
 ('UserTypes', -0.0019243164114908819),
 ('Group', 0.48918709319709902),
 ('MovieType', 0.014160932678783107)]